<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('任务恢复详细')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-user-edit">
			<div class="form-group">
				<label class="col-sm-3 control-label">任务编号：</label>
				<div class="col-sm-8">
					<div class="form-control-static" th:text="${record.jobId}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">任务名：</label>
				<div class="col-sm-8">
					<div class="form-control-static" th:text="${record.job.name}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">恢复是否成功：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${record.success}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-8">
                    <div class="form-control-static" th:text="${record.desc}"></div>
                </div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">恢复时间：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${record.recoveryAt}"></div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
	</script>
</body>
</html>
