<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('任务执行详细')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-user-edit">
			<div class="form-group">
				<label class="col-sm-3 control-label">任务编号：</label>
				<div class="col-sm-8">
					<div class="form-control-static" th:text="${record.jobId}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">触发时间：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${record.trigAt}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">触发结果：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${record.trigResult}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">执行器地址：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${record.executeExecutor}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">执行返回结果：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${record.executeReturns}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">执行是否成功：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${record.success}"></div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
	</script>
</body>
</html>
