<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.icodegarden.beecomb.common.backend.mapper.JobDetailMapper">

	<resultMap id="baseMap" type="io.github.icodegarden.beecomb.common.backend.pojo.persistence.JobDetailPO">
		<id property="jobId" column="job_id" />
		<result property="params" column="params" />
		<result property="desc" column="desc" />
		<result property="lastTrigResult" column="last_trig_result" />
		<result property="lastExecuteReturns" column="last_execute_returns" />
	</resultMap>
	
	<resultMap id="DOMap" type="io.github.icodegarden.beecomb.common.backend.pojo.data.JobDetailDO" extends="baseMap">
	</resultMap>

	<insert id="add" parameterType="io.github.icodegarden.beecomb.common.backend.pojo.persistence.JobDetailPO">
		insert into `job_detail` (
		  `job_id`,
		  `params`,
		  `desc`,
		  `last_trig_result`,
		  `last_execute_returns`
		)
		values (
		#{jobId},
		#{params},
		#{desc},
		#{lastTrigResult},
		#{lastExecuteReturns}
		)
	</insert>
	
	<select id="findOne" resultMap="DOMap">
		select a.* from `job_detail` a where a.job_id = #{jobId}
	</select>
	
	<update id="update" parameterType="io.github.icodegarden.beecomb.common.backend.pojo.persistence.JobDetailPO$Update">
		update `job_detail`
		<trim prefix="set" suffixOverrides=",">
			<if test="params != null">`params` = #{params},</if>
			<if test="desc != null">`desc` = #{desc},</if>
			<if test="lastTrigResult != null">`last_trig_result` = #{lastTrigResult},</if>
			<if test="lastExecuteReturns != null">`last_execute_returns` = #{lastExecuteReturns},</if>
		</trim>
		where job_id = #{jobId}
	</update>
</mapper>