<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <h1>敬请期待...</h1>

N日总数（按类型）	[{"dt":"2022-01-01","delay:":100,"schedule":200,"total":300}]
队列中 当前			
未队列未完成 当前
已结束已完成





执行N日 成功 失败 次数
执行成功率
   
   
    
    EXPLAIN 
-- 总数
SELECT
	created_by,
	type,
	count( 0 ) AS count 
FROM
	job_main 
GROUP BY
	created_by,
	type
	

EXPLAIN 
-- 已结束
SELECT
	created_by,
	type,
	count( 0 ) AS count 
FROM
	job_main 
	where is_end = 1
GROUP BY
	created_by,
	type
	
	
EXPLAIN 
-- 昨日新增
SELECT
	created_by,
	type,
	count( 0 ) AS count 
FROM
	job_main 
	where DATE_FORMAT(created_at,'%Y-%m-%d') = '2022-04-11'
GROUP BY
	created_by,
	type
	
EXPLAIN 
-- 执行N日(昨日执行)
SELECT
	b.created_by,
	b.type,
	a.is_success,
	count( 0 ) AS count 
FROM
	job_execute_record a join job_main b on a.job_id=b.id
	
	where DATE_FORMAT(a.trig_at,'%Y-%m-%d') = '2022-04-11'
GROUP BY
	b.created_by,
	b.type	,
	is_success
	
EXPLAIN 
-- 执行成功率
SELECT
	b.created_by,
	b.type,
	a.is_success,
	count( 0 ) AS count 
FROM
	job_execute_record a join job_main b on a.job_id=b.id
	
GROUP BY
	b.created_by,
	b.type	,
	is_success
	
    
    
    
    <h1><img alt="[ beecomb ]" src="../static/index.jpeg" th:src="@{/index.jpeg}"></h1>
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', '360px'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
