<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('用户详细')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-user-edit">
			<div class="form-group">
				<label class="col-sm-3 control-label">任务名：</label>
				<div class="col-sm-8">
					<div class="form-control-static" th:text="${job.name}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">类型：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.type}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">uuid：</label>
                <div class="col-sm-8">
                    <div class="form-control-static" th:text="${job.uuid}"></div>
                </div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Executor：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.executorName}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Handler：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.jobHandlerName}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">执行超时时间ms：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.executeTimeout}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">优先级：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.priority}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">重量：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.weight}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">并行：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.parallel}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">最大并行数：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.maxParallelShards}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">队列中：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.queued}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">入队列时间：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.queuedAt}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">队列所在实例：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.queuedAtInstance}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">已结束：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.end}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">最后触发时间：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.lastTrigAt}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">最后触发结果：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.jobDetail.lastTrigResult}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">最后执行的Executor：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.lastExecuteExecutor}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">最后执行返回结果：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.jobDetail.lastExecuteReturns}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">最后一次执行成功：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.lastExecuteSuccess}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">下次触发时间：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.nextTrigAt}"></div>
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-sm-3 control-label">任务参数：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.jobDetail?.params}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">任务描述：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.jobDetail?.desc}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">标签：</label>
				<div class="col-sm-8">
					<div class="form-control-static" th:text="${job.label}"></div>
				</div>
			</div>
			
			
			<div class="form-group" th:if="${job.type.toString() == 'Delay'}">
				<label class="col-sm-3 control-label">任务延迟ms：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.delayJob?.delay}"></div>
				</div>
			</div>
			<div class="form-group" th:if="${job.type.toString() == 'Delay'}">
<!-- 				<label class="col-sm-3 control-label">执行失败重试次数：</label> -->
				<label class="col-sm-3 control-label">retryOnExecuteFailed：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.delayJob?.retryOnExecuteFailed}"></div>
				</div>
			</div>
			<div class="form-group" th:if="${job.type.toString() == 'Delay'}">
<!-- 				<label class="col-sm-3 control-label">执行失败重试回退ms：</label> -->
				<label class="col-sm-3 control-label">retryBackoffOnExecuteFailed：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.delayJob?.retryBackoffOnExecuteFailed}"></div>
				</div>
			</div>
			<div class="form-group" th:if="${job.type.toString() == 'Delay'}">
<!-- 				<label class="col-sm-3 control-label">执行失败已重试次数：</label> -->
				<label class="col-sm-3 control-label">retriedTimesOnExecuteFailed：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.delayJob?.retriedTimesOnExecuteFailed}"></div>
				</div>
			</div>
			<div class="form-group" th:if="${job.type.toString() == 'Delay'}">
<!-- 				<label class="col-sm-3 control-label">没有合格的Executor重试次数：</label> -->
				<label class="col-sm-3 control-label">retryOnNoQualified：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.delayJob?.retryOnNoQualified}"></div>
				</div>
			</div>
			<div class="form-group" th:if="${job.type.toString() == 'Delay'}">
<!-- 				<label class="col-sm-3 control-label">没有合格的Executor重试回退ms：</label> -->
				<label class="col-sm-3 control-label">retryBackoffOnNoQualified：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.delayJob?.retryBackoffOnNoQualified}"></div>
				</div>
			</div>
			<div class="form-group" th:if="${job.type.toString() == 'Delay'}">
<!-- 				<label class="col-sm-3 control-label">没有合格的Executor已重试次数：</label> -->
				<label class="col-sm-3 control-label">retriedTimesOnNoQualified：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.delayJob?.retriedTimesOnNoQualified}"></div>
				</div>
			</div>
			
			
			<div class="form-group" th:if="${job.type.toString() == 'Schedule'}">
				<label class="col-sm-3 control-label">scheduleFixRate：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.scheduleJob?.scheduleFixRate}"></div>
				</div>
			</div>
			<div class="form-group" th:if="${job.type.toString() == 'Schedule'}">
				<label class="col-sm-3 control-label">scheduleFixDelay：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.scheduleJob?.scheduleFixDelay}"></div>
				</div>
			</div>
			<div class="form-group" th:if="${job.type.toString() == 'Schedule'}">
				<label class="col-sm-3 control-label">sheduleCron：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.scheduleJob?.sheduleCron}"></div>
				</div>
			</div>
			<div class="form-group" th:if="${job.type.toString() == 'Schedule'}">
				<label class="col-sm-3 control-label">已调度次数：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.scheduleJob?.scheduledTimes}"></div>
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-sm-3 control-label">创建者：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.createdBy}"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
				    <div class="form-control-static" th:text="${job.createdAt}"></div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
	</script>
</body>
</html>
