<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xff.shardingjdbc.mapper.OrderMapper">

	<resultMap id="baseMap" type="xff.shardingjdbc.po.OrderPo">
		<id property="orderId" column="order_id" />
		<result property="userId" column="user_id" />
		<result property="amount" column="amount" />
	</resultMap>

	<insert id="add" parameterType="xff.shardingjdbc.po.OrderPo" useGeneratedKeys="true" keyProperty="orderId">
		insert into t_order (
		`user_id` ,
		`amount`
		)
		values (
		#{userId},
		#{amount}
		)
	</insert>

	<select id="findOne" resultMap="baseMap">
		select a.* from t_order a where a.order_id = #{orderId}
	</select>
</mapper>